@font-face {
    font-family: 'Aquire';
    src: url('Aquire-BW0ox.otf');
}

@font-face {
    font-family: 'normal';
    src: url('Cartesian-4B576.ttf');
}

@font-face {
    font-family: 'bold';
    src: url('HousttelySignature-GOonZ.ttf');
}

@font-face {
    font-family: 'p';
    src: url('Cartesian-4B576.ttf');
}

@font-face {
    font-family: 'btn';
    src: url('Monotes-EaRqg.ttf');
}

@font-face {
    font-family: 'form';
    src: url('Cartesian-4B576.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'normal';
}

body{    
    min-height: 100vh;
    position: relative;
    font-size: 1.6rem;
    font-weight: 600px;
    letter-spacing: 2.6px;
}

body::after{
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#hero {
    min-height: 100vh;
    position: relative;
}

#hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/hero.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(40%);
    z-index: -1;
}
#aboutus {
    min-height: 50vh;
    position: relative;
}

#aboutus::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/aboutus.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px) brightness(10%);
    z-index: -1;
}

#article {
    min-height: 30vh;
    position: relative;
}

#article::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/article.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px) brightness(10%);
    z-index: -1;
}

#article img{
    border-radius: 47% 53% 70% 30% / 30% 58% 42% 70% ;
}


#artist_one {
    min-height: 30vh;
    position: relative;
}

#artist_one::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/article.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(40%);
    z-index: -1;
}

#artist_one iframe{
    width: 100%;
    height: 28vh;
}

h1 {
    font-family: 'Aquire';
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'normal';
}

.cursive{
    font-family: 'bold';

}


button,li,a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: 'btn';
    padding: 1.3vh;
}

form {
    font-family: 'form';
}

p{
    font-family: 'p';
}

/* scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background: #770606;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 12%;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  #footer {
    min-height: 35vh;
    width: 100vw;
  }
  #footer svg{
    width: 32px;
    height: 32px;
  }
  
.hide{
    display: none;
}

.artist{
    filter: brightness(60%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2%;
    max-width: 50vw;
    max-height: 50vh;
}

.video{
    max-width: 80vw;
    max-height: 100vh;
}

.crossOut{
    text-decoration: line-through;
}

#btnNavbarToggler{
    position: fixed;
    top: 5vh;
    right: 5vw;
}

#navbar{
    position: fixed;
}

#navbar::after{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a08800d;
    filter: blur(2px);
}